.ant-layout-sider {
  background-color: var(--yellow-orange);
  .ant-menu.ant-menu-dark {
    background-color: var(--yellow-orange);
    &:not(.ant-menu-horizontal) {
      .ant-menu-item-selected {
        background-color: var(--yellow);
      }
    }
  }
}
.ant-layout-header {
  background-color: var(--dark-color);
  padding: 0;
  .thong__tin__admin {
    float: right;
    padding-right: 60px;
    display: flex;
    .drop__admin {
      margin: 1rem;
      .drop__menu {
        transform: translate3d(-116px, 62px, 0px) !important;
        top: -10px;
        .drop__item {
          height: 33px;
          line-height: 25px;
          font-size: 13px;
          font-weight: 600;
          color: #5e5e5e;
        }
      }
      .dropdown__toggle {
        svg {
          color: var(--yellow);
          font-size: 3rem;
        }
        &::after {
          content: "";
          border: none;
        }
      }
      .show {
        display: flex;
        background-color: #ffffff00;
      }
    }
    .dropdown-menu {
      top: 0;
      transition: 0.1s all ease;
    }
  }
}

.admin__content {
  margin: 24px 16px 0;
  overflow: initial;
  .ite-layout-background {
    padding: 24px;
    text-align: center;
    height: 100%;
  }
}
