.paginateBttn {
  width: 80%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -50px;
  a {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid var(--yellow-orange);
    color: var(--dark-color);
    transition: 300ms all ease;
    &:hover {
      color: black;
      background-color: var(--yellow-orange);
    }
  }
  .activePaginate a {
    background-color: var(--yellow-orange);
  }
  .disablePaginate a {
    background-color: silver;
    border: silver;
    color: slategray;
    cursor: default;
  }
}

.btn__edit__icon {
  width: 19px;
  padding-left: 13px;
  margin: auto;
}

.border__table {
  border: slategray solid 1px;
   height: 34.8rem;
}