.quanLyNguoiDung {
  margin-top: -4rem;
  height: 100%;
  .themNguoiDung {
    float: left;
    margin-top: 2.3rem;
    &:active {
      background-color: var(--yellow-active);
    }
  }
  .quanLyNguoiDungTitle {
    position: relative;
    top: -34px;
    left: -10rem;
    font-weight: 800;
    color: moccasin;
    font-size: 25px;
  }
}