.row_new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin: auto;
  .themLinkHome {
    font-size: 20px;
  }
}
.form-control {
  height: 36px;
  font-size: 16px;
}
input {
  text-transform: none;
}
