.themNguoiDungLinkHome {
  font-size: 20px;
  margin-left: 18px;
}
.themNguoiDungBtn {
  position: relative;
  right: -106.7rem;
}
.form-control {
  height: 36px;
  font-size: 16px;
}
input {
  text-transform: none;
}
