.box {
  width: 35rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 1.5rem;
  img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .content .stars i {
    color: #f39c12;
    font-size: 1.7rem;
    padding: 1rem 0.1rem;
  }

  .content .title {
    color: #444;
    font-size: 2.1rem;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  .content .title:hover {
    text-decoration: underline;
  }



  .content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    
  }

  .content .info h3 {
    font-size: 1.5rem;
    padding: 1rem;
    color: #666;
  }

  .content .info h3 i {
    color: #f39c12;
  }

  .price {
    position: absolute;
    top: 16rem;
    right: 1rem;
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background: var(--gradient);
    color: #fff;
    font-size: 3rem;
  }
  .moTa{
    height: 8rem;
    padding: 1rem 0;
    color: #666;
    font-size: 1.5rem;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
    }
    margin-bottom: auto;
  }
  
}
